/* TRANSFORM LATER IN COMPONENT */
.card__list {
    margin: 0 1rem;
    margin-bottom: 4rem;
    width: 100%;
    max-width: 400px;
    /* border: 1px solid red; */
}

.card__list > .code__image {
    overflow: hidden;
    border-radius: .5rem;
    width: 100%;
    /* border: 1px solid red; */

}

.card__list > .code__image > img {
    width: 100%;
    /* border: 1px solid red; */
}

.card__list > .stack__list > img {
    height: 25px;
}

.card__list > .timeline {
    display: flex;
    align-items: center;
    
    width: 100%;

}

.card__list > .timeline > .underline {
    flex: 1;
    border: 1px solid var(--color-underline);
}

.card__list time {
    margin-right: .5rem;
    font-weight: 600;
    font-size: 1rem;
}

.card__list > .h5 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 1rem 0;
}

.card__list > footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__list > footer > .hr {
    flex: 1;
    border: 1px solid var(--color-underline);
    margin: 0 .3rem;
}

.card__list > footer > .read__more {
    display: flex;
    align-items: center;
}
.card__list > footer > .read__more > i {
    margin-left: .4rem;
}