/* body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

.about {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about h1 {
    color: var(--slight-white-color);
    font-size: calc( ( ( ( 16 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 )/20 * 1rem) + ( ( 19 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 )/16 - ( 16 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 )/20 ) * calc( ( 100vw - (( 320 / 16) * 1rem)) / (( 2000 / 16) - ( 320 / 16)) ) ) );
    /* font-family: "Noyh Geometric", sans-serif; */
    font-weight: 600;
    letter-spacing: .1rem;
    line-height: calc( ( ( ( 12 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 )/20 * 1rem) + ( ( 19 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 * 1.25 )/16 - ( 16 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 * 1.2 )/20 ) * calc( ( 100vw - (( 320 / 16) * 1rem)) / (( 2000 / 16) - ( 320 / 16)) ) ) );;
    margin: 0 2rem;
    width: 590px;
    text-align: left;
}

.about span a {
    color: var(--bg-color-dark);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--slight-white-color);
}


.container > section {
    flex: 1;

    background-color: var(--bg-color-dark);
    overflow: hidden;

}

.container > section > img {
    height: 100%;
    position: relative;
    right: 30%;
}

.container > aside {
    flex: 0;
    
    display: flex;
    flex-direction: column;

    background-color: var(--bg-color-dark);
}