body {
    background-color: var(--bg-color-dark);
}

.page__header > .icon {
    flex: 4;
}

.page__header > .table__nav {
    flex: 6;
}

.page__header > .table__nav > .nav {
    position: relative;
    left: 9px;
}

/* ========================================== */
.container > header {
    /* border: 1px solid red; */
}

.container > section {
    /* display: flex;
    flex-direction: column; */

    /* border: 1px solid red; */
    padding: 1rem;
    height: 100%;
}

/* ========================== */
/* ===== SECTION HEADER ===== */
/* ========================== */
section > .section__header {
    /* flex: 4; */
    border: 3px solid rgb(234, 0, 255);
    display: flex;
    justify-content: center;
    margin: 0 .6rem;
    /* overflow: hidden; */
    /* padding-bottom: 9rem; */
    margin-top: 2rem;
    /* height: 500px; */
}

.Intro__svg {
    position: absolute;
    /* position: relative; */
    height: 200px;
    top: -138px;
    left: -9%;
    z-index: -1;
    margin-top: 90px;
}

.Intro {
    position: relative;
    background-color: var(--bg-color-dark);
    color: var(--slight-white-color);
    border: solid 3px var(--slight-white-color);
    background-color: var(--bg-color-dark);
    box-shadow: .5rem .5rem 0 0 var(--slight-white-color);
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 1.5rem .9rem;
    /* max-width: 80vw; */
    width: 100%;
    max-width: 700px;
    /* height: 340px; */
    /* margin: 0 auto; */
    /* left: -100px; */
    /* top: 80px; */
    /* margin: 0 2rem; */
}

.Intro::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 13vw;
    height: 13vw;
    min-width: 150px;
    min-height: 150px;
    right: -6%;
    bottom: -15%;
    border-radius: 100%;
    border: solid 3px var(--slight-white-color);
    z-index: -1;
}

::after, ::before {
    box-sizing: inherit;
    /* top: 180px; */
    top: 75%;
}

.Intro::after {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 13vw;
    height: 13vw;
    min-width: 150px;
    min-height: 150px;
    right: -10%;
    bottom: -12%;
    border-radius: 100%;
    background-color: var(--color-mint);
    z-index: -2;
}

section .Intro .h3 {
    font-size: 2.5rem;
    font-weight: 700;
    background-color: var(--color-mint);   
    /* box-shadow: .5rem .5rem 0 0 var(--color-mint); */
    width: 80px;
    height: 30px;
    margin-bottom: 2.3rem;

}

section .Intro .h6 p {
    margin-top: 1rem;
    font-weight: 400;
    /* font-size: 1rem; */
}

/* ======================== */
/* ===== SECTION BODY ===== */
/* ======================== */

section > .section__body {
    /* flex: 1; */
    border: 1px solid red;
    /* margin-bottom: 1rem; */
    margin-top: 8rem;
}


/* TRANSFORM LATER IN COMPONENT */


/* ============================== */

* {
    scrollbar-width: auto;
    scrollbar-color: var(--color-mint) var(--color-sherbet-fade);
}

::-webkit-scrollbar {
    width: 11px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-mint);
    border-radius: 6px;
    border: 0;
}

::-webkit-scrollbar-track {
    background: var(--color-sherbet-fade);
}