<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <title>Luke</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@master/devicon.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/noyhGeometric/stylesheet.css') }}">

    <script src="https://kit.fontawesome.com/01edd83a56.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/CardCode.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/CardStack.js') }}" defer></script>
</head>

<body>
    <div class="container">
        <header class="page__header">

            <div class="icon">
                <div class="box__icon">
                    <a href="/">Lucas</a>
                    <div class="social">
                        <a href="https://github.com/luk3mn" target="_blank"><i
                                class="fa-brands fa-github fa-beat"></i></a>
                        <a href="https://www.linkedin.com/in/lucasmaues/" target="_blank"><i
                                class="fa-brands fa-linkedin fa-beat"></i></a>
                        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"><i
                                class="fa-brands fa-google fa-beat"></i></a>
                    </div>
                </div>
            </div>

            <div class="table__nav">

                <div class="nav">
                    <div id="line"></div>
                    <ul>
                        <a href="/coding">
                            <i class="fa-solid fa-code-compare"></i>
                            <li>coding</li>
                        </a>
                        <a href="/learning">
                            <i class="fa-solid fa-code"></i>
                            <li>learning</li>
                        </a>
                        <!-- <a href="/career">
                            <i class="fa-solid fa-graduation-cap"></i>
                            <li>career</li>
                        </a> -->
                        <!-- <a href="/reward">
                            <i class="fa-solid fa-award"></i>
                            <li>reward</li>
                        </a> -->
                    </ul>
                </div>

                <div class="toggle-button">
                    <!-- <div class="toggle__mode">
                        <i class="fa-solid fa-toggle-on"></i>
                    </div> -->

                    <div class="toggle__language">
                        <i class="fa-solid fa-language"></i>
                    </div>
                </div>

            </div>
        </header>

        <section>
            <div class="section__header">
                <div class="[ wrapper wrapper-sm ] [ pad-before ]">
                    <header class="[ Intro ] [ pad-around ]">
                        <div class="[ Intro__inner ] [ inner-wrapper ] [ sf-flow ]">
                            {% block header %}{% endblock %}
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            role="decorative" aria-hidden="true" viewBox="0 0 133.9 97.5" overflow="visible"
                            class="Intro__svg">
                            <defs>
                                <pattern x="-257.8" y="-219" width="9" height="9" patternUnits="userSpaceOnUse"
                                    id="dot-pattern" viewBox="0 -8 8 8" overflow="visible">
                                    <rect y="-8" width="8" height="8" fill="none"></rect>
                                    <circle cx="4.3" cy="-4" r=".7" fill="#fff" stroke="#fff"
                                        stroke-miterlimit="10"></circle>
                                </pattern>
                            </defs>
                            <pattern id="SVGID_1_" xlink:href="#dot-pattern"
                                patternTransform="translate(-1.3637 4.2113)"></pattern>
                            <rect width="133.9" height="90" fill="url(#SVGID_1_)"></rect>
                        </svg>
                    </header>
                </div>
            </div>

            {% block content %} {% endblock %}
        </section>
    </div>
    <script src=""></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
</body>

</html>