{% extends 'base.html' %}

{% block header %}
<div class="[ Intro__copy ]">
    <h1 class="[ h3 ]">Coding...</h1>
    <div class="[ h6 ]">
        <p>
            I've been working really hard lately, trying to learn and practice at the same
            time, cause I think that the best way for me to really understand and absorb new
            concepts is by immersing myself in hands-on projects.
        </p>
        <p>
            I'd rather work on backend applications I can explore topic like Artificial Intelligence, 
            Docker, Data Science, RESTful, AWS and so on.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section__body">
    <h2 class="h4">My Programming Time</h2>

    <ul class="component__list">

        <card-code
            image="https://images.unsplash.com/photo-1455390582262-044cdead277a?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            title="Writing evaluator with Generative AI"
            time="May 2024"
            size="2"
            name0="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"
            name1="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white"
            deploy-name=" | Deploy"
            deploy="https://langway.vercel.app/swagger/"
            github="https://github.com/luk3mn/lang_way"
            doc="https://github.com/luk3mn/lang_way/blob/main/README.md"
        ></card-code>

        <card-code
            image="https://images.unsplash.com/photo-1587377838987-42165934161d?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            time="Abril 2024"
            title="Pass.in"
            size="3"
            name0="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white"
            name1="https://img.shields.io/badge/Spring-6DB33F?style=for-the-badge&logo=spring&logoColor=white"
            name2="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white"
            github="https://github.com/luk3mn/passin_nlw_unite"
            doc="https://github.com/luk3mn/passin_nlw_unite/blob/main/README.md"
        ></card-code>
        
        <card-code
            image="https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            time="Februery 2024"
            title="Automated data extraction API"
            size="4"
            name0="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"
            name1="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white"
            name2="https://img.shields.io/badge/MongoDB-4EA94B?style=for-the-badge&logo=mongodb&logoColor=white"
            name3="https://img.shields.io/badge/Docker-2496ED?style=for-the-badge&logo=docker&logoColor=white"
            github="https://github.com/luk3mn/mal-api"
            doc="https://github.com/luk3mn/mal-api/blob/main/README.md"
        ></card-code>
        
        <card-code
            image="https://images.unsplash.com/photo-1532354058425-ba7ccc7e4a24?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            time="December 2023"
            title="Spotify private data extraction"
            size="3"
            name0="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white"
            name1="https://img.shields.io/badge/Flask-000000?style=for-the-badge&logo=flask&logoColor=white"
            name2="https://img.shields.io/badge/PostgreSQL-316192?style=for-the-badge&logo=postgresql&logoColor=white"
            github="https://github.com/luk3mn/spotify-profile/"
            deploy-name=" | Deploy"
            deploy="https://spotify-profile-lmqe.onrender.com/"
            doc="https://github.com/luk3mn/spotify-profile/blob/main/README.md"
        ></card-code>
    </ul>
</div>
{% endblock %}
