{% extends 'base.html' %}

{% block header %}
<div class="[ Intro__copy ]">
    <h1 class="[ h3 ]">Learning...</h1>
    <div class="[ h6 ]">
        <p>
            Everything I've learned so far has been a stepping stone towards achieving success in my career. I continually seek opportunities to reinforce my knowledge through practical application, ensuring that my skills are both robust and up-to-date. 
        </p>
        <p>
            Over the years, I've learned a great deal, primarily focusing on programming. My goal is to become the best developer I can be. I enjoy using my study time to explore new concepts and relate them to my programming skills, continuously enhancing my abilities.
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- <section> -->
    <div class="section__body">
        <h2 class="h4">What I've been learning this far</h2>

        <ul class="component__list">

            <card-stack
                stack-name="Java"
                stack-icon="devicon-java-plain"
                detail-1="
                    During my college years around 2020, I embarked on my Java learning journey, where I delved into JDBC connections and Object-Oriented 
                    Programming (OOP) with UML implementation. These studies exposed me to a variety of use cases, broadening my understanding of Java's 
                    applications.
                "
                detail-2="
                    Presently, my focus has transitioned towards mastering the Spring Boot ecosystem, with a particular emphasis on JPA and Hibernate. 
                    This shift aims to equip me with the skills needed to develop APIs following RESTful principles. By building a solid programming 
                    foundation, I aspire to seamlessly integrate with other technologies such as AI, Docker, and AWS, thereby expanding my capabilities 
                    n the field.
                "
            ></card-stack>

            <card-stack
                stack-name="Python"
                stack-icon="devicon-python-plain"
                detail-1="
                    I embarked on my learning journey towards the end of college in late 2022. This initiation was driven by the necessity to work on my final 
                    project focusing on Data and Machine Learning algorithms. The project required me to develop predictive models to derive insights from a 
                    ataset, leading me to delve into Python for building these models. Subsequently, my exploration extended to web programming frameworks like 
                    Django and Flask to construct web applications.
                "
                detail-2="
                    This early exposure not only honed my skills in Python but also introduced me to the realm of web development, enhancing my proficiency in 
                    frameworks crucial for building robust applications.
                "
            ></card-stack>

            <card-stack
                stack-name="AWS"
                stack-icon="devicon-amazonwebservices-plain-wordmark"
                detail-1="
                    My initial exposure to Amazon Web Services was in 2023 when I began learning basic services such as EC2, S3, and RDS. Later that year, 
                    I enrolled in Escola da Nuvem, where I had the opportunity to immerse myself in hands-on labs and explore numerous valuable services. 
                "
                detail-2="
                    I successfully achieved the AWS Certified Cloud Practitioner certification, and I am currently advancing my cloud skills to integrate them 
                    into my programming projects, particularly with Python and Java.
                "
            ></card-stack>

            <card-stack
                stack-name="Docker"
                stack-icon="devicon-docker-plain"
                detail-1="
                    The first time I heard about Docker was in university, but I had never studied it in-depth. Later, when I needed to deploy some of my web 
                    applications, I began exploring deployment methods and discovered how incredibly useful Docker could be. This led me to start learning about 
                    Docker and its capabilities, realizing its potential in streamlining my development and deployment processes.  
                "
                detail-2="
                    For now, I can handle the basics, such as using Dockerfile to build application images and running containers with various commands, especially 
                    when setting up a local database for my applications. I also use Docker Compose to streamline the process. However, I am constantly learning and 
                    improving my skills, as Docker is an essential tool I frequently rely on.
                "
            ></card-stack>

            <card-stack
                stack-name="Flask"
                stack-icon="devicon-flask-plain"
                detail-1="
                    In early 2022, I ventured into Flask to address the need for a simple web server to render one of my projects. 
                "
                detail-2="
                    Since then, I have been exploring ways to leverage Flask to construct RESTful APIs. Additionally, I have successfully integrated Flask with 
                    Docker, AWS, and AI APIs, enhancing my project's capabilities and scalability.
                "
            ></card-stack>

            <card-stack
                stack-name="Spring Boot"
                stack-icon="devicon-spring-plain"
                detail-1="
                    I have foundational experience in Java from my university studies, which provided me with a solid understanding of the language and its applications. 
                    My journey into backend web development began when I discovered Spring Boot at a Java event in late 2023. Since then, I have dedicated myself to mastering 
                    backend technologies, focusing on areas such as REST API development, Hibernate, JPA, and related frameworks. I am eager to continue expanding my knowledge 
                    and skills in this domain, aiming to create robust and efficient web applications.
                "
                detail-2="
                    I have been studying diligently to deepen my knowledge and gain independence in this stack. My goal is to leverage these skills in a future role as a 
                    programmer, where I can also utilize Docker and AWS. Moreover, I aim to integrate Artificial Intelligence into my applications to enhance their functionality 
                    and efficiency.
                "
            ></card-stack>

            <!-- <card-stack
                stack-name="Django"
                stack-icon="devicon-django-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack> -->

            <!-- <card-stack
                stack-name="PHP"
                stack-icon="devicon-php-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack> -->

            <card-stack
                stack-name="PostgreSQL"
                stack-icon="devicon-postgresql-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack>

            <card-stack
                stack-name="MongoDB"
                stack-icon="devicon-mongodb-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack>

            <card-stack
                stack-name="Linux"
                stack-icon="devicon-linux-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack>

            <card-stack
                stack-name="SQL Server"
                stack-icon="devicon-microsoftsqlserver-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack>

            <!-- <card-stack
                stack-name="DynamoDB"
                stack-icon="devicon-dynamodb-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack> -->

            <!-- <card-stack
                stack-name="Swagger"
                stack-icon="devicon-swagger-plain"
                detail-1="
                    
                "
                detail-2="
                    
                "
            ></card-stack> -->

            <card-stack
                stack-name="Javascript / HTML5 / CSS3"
                stack-icon="devicon-javascript-plain"
                detail-1="
                    One of the first stacks I learned, like many developers, was HTML, CSS, and JavaScript. It was a lot of fun because I could see my progress 
                    in real-time as I developed. This stack allowed me to build various projects, adding interactivity and animations to my applications with 
                    JavaScript.
                "
                detail-2="
                    Currently, I've been focusing on backend applications because I find it much more engaging. It allows me to leverage my programming skills 
                    to manage various resources and integrate with multiple concepts. However, I still use front-end stacks occasionally, especially when I need 
                    to build a web page to test my backend applications or create my portfolio, like this one. Everything I've learned so far finds its use in one 
                    way or another, making the journey of learning and applying these skills incredibly rewarding
                "
            ></card-stack>

        </ul>
    </div>
<!-- </section> -->
{% endblock %}