{% extends 'base.html' %}

{% block header %}
<div class="[ Intro__copy ]">
    <h1 class="[ h3 ]">Reward...</h1>
    <div class="[ h6 ]">
        <p>
            I'd like to highlight my achievements, including certifications and successful project completions I've worked on.
        </p>
        <p>
            These achievements reflect my expertise in areas such as cloud computing and various programming languages. I look forward to adding many more to my portfolio in the near future. 
        </p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="section__body">
    <h2 class="h4">A little about my reward</h2>

    <ul class="component__list">

        <card-reward
            image="https://images.credly.com/size/340x340/images/00634f82-b07f-4bbd-a6bb-53de397fc3a6/image.png"
            title="AWS Certified Cloud Practitioner"
            size=1
            name0="https://img.shields.io/static/v1?label=AWS&logo=amazonaws&message=Certification&color=FF9900&style=for-the-badge&colorB=555"
            time="September 2023"
            detail-1="After spending about two months and a half deep in hands-on labs and hours a day studying AWS services, like, EC2, RDS, S3, VPC, and many others, I finally conquered the AWS Cloud Practitioner."
            detail-2="This is a conquer of mine because I know how much effort I've put into it, but I also know there is room for improviment, and my focus is to manage to use my cloud skills to improve my developer skills and keep studying AWS services to achieve much more than that."
            verify="https://www.credly.com/badges/0b720fb4-6313-40dc-b44b-989171aa90df/linked_in"
        ></card-reward>

        <card-reward
            image="https://github.com/luk3mn/currency-converter/raw/main/Badge-Conversor.png"
            title="Java: Currency Exchenge Challenge"
            size=2
            name0="https://img.shields.io/static/v1?label=Alura&&message=Challenge&color=3f6cf2&style=for-the-badge&colorB=555"
            name1="https://img.shields.io/static/v1?label=Oracle&logo=oracle&message=Challenge&color=F80000&style=for-the-badge&colorB=555"
            time="April 2024"
            detail-1="Despite this achievement being pretty simple, it still is huge for me, because it does not matter how big it is, what matters is I've conquered it by my own hands and if keep improving my skills and practicing I can grow much more and manage to build projects bigger than that."
            detail-2="This is a pretty simple project I built when I was studying Java at Alura with Oracle Next Education, it was a challgenge in order to test if we could build an application by ourselves and use conepts like HttpRequest and HttppResponse to get data from API, and even convert JSON response to java class to manipulate it easier. So, as I said before, it was pretty easy but at same time it was awesome because I could review everything I've study."
            verify="https://cursos.alura.com.br/user/lukemn/course/praticando-java-construindo-conversor-moedas/certificate"
        ></card-reward>

        <card-reward
            image="https://images.credly.com/size/340x340/images/44e2c252-5d19-4574-9646-005f7225bf53/image.png"
            title="AWS re/Start Graduate"
            size=2
            name0="https://img.shields.io/static/v1?label=AWS&logo=amazonaws&message=re/start&color=FF9900&style=for-the-badge&colorB=555"
            name1="https://img.shields.io/static/v1?label=Escola da Nuvem&&message=re/start&color=blue&style=for-the-badge&colorB=555"
            time="September 2023"
            detail-1="I've spent about 4 hours a day studying at 'Escola da Nuvem' with 'AWS' training program for about 2 months and a half to learn about AWS, such as computing, databases, and storage."
            detail-2="When I started this program, I didn't know much about AWS services, but when I finished I was able to apply to the AWS Cloud Practitioner exam and conquer successfully my first certification in cluod."
            verify="https://www.credly.com/earner/earned/badge/cce7eb4f-4a0d-4cf0-a77a-3d263bff12a8"
        ></card-reward>
        
    </ul>
</div>
{% endblock %}
